body {
  background-color: blue;
  height: 100%;
}

.container {
    color: white;
    font-size: 24px;
    display: flex;
    justify-self: center;
    align-self: center;
    border: 2px solid black;
    width: 50%;
    height: 100%;
}

.box {
  border: 2px solid red;
  width: 25%
}